.div_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
    width: 20%;
}

.div_fixed_fields {
    display: flex;
}

.div_fields_di {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.div_fields_di .di, .op {
    width: 10%;
    margin-right: 1em;
}

.description{
    margin-right: 1em;
}

.div_fields_di .description, .number {
    width: 40%;
}

.tab {
    margin-top: 1em;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #363636;
    color: #fff;
}

.total .prev,
.total .util,
.total .rest {
    border-radius: 0.5em;
    padding: 0 0.5em;
    width: 33%;
    cursor: pointer;
    transition: 2s;
}

.total .prev:hover,
.total .util:hover,
.total .rest:hover {
    background-color: #008080;
    color: #fff
}

.total .rest,
.total .util,
.total .prev  {
    background-color: #fff;
    color: #000;
}

.total h5 {
    text-decoration: underline;
    padding: 0.5em 0 0.5em 0;
}

.total p {
    font-size: 0.8em;
    font-weight: bold;
    padding: 0;
}