.table_btn {
    text-align: center;
}

.table_btn td {
    padding: 1em 0 0.5em 0;
}

.div_btns {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}

.title_table {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_table h2 {
    padding: 0.2em;
    text-decoration: underline;
    align-items: flex-start;
}

