.btn {
    border: none;
    background-color: transparent;
    padding: 0 0.5em 0 0;
}

.btn svg {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 3em;
    padding: 0;
}

.btn:focus,
.btn:focus-visible {
    background-color: transparent;
    box-shadow: none;
}

.menu {
    display: flex;
}