.container {
    max-height: 95%;
    overflow-y: scroll;
}

.header_table {
    text-align: center;
    background-color: #363636;
    color: #D2691E;
}

.btn {
    cursor: pointer;
}

table tbody tr{
    cursor: pointer;
    transition: 2s;
}

table tbody tr:hover{
    font-style: italic;
    background-color: #8d8d8d;
}


